html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.root {
  height: 100%;
  width: 100%;
  color: rgb(214, 195, 84);
  background-color: #1b1a17;
  box-sizing: border-box;
  border: 5px solid #b89459;
}
.all-buttons {
  box-sizing: border-box;
  text-align: center;
  min-height: 5%;
  padding: 7px;
}
.speed {
  text-align: center;
  min-height: 5%;
}
.details {
  text-align: center;
  min-height: 10%;
}
.disblay {
  box-sizing: border-box;
  min-height: 80%;
  width: 100%;
  background-color: #1b1a17;
  border-top: 2px solid #b89459;
  position: relative;
}

.child {
  bottom: 0;
  position: absolute;
  background-color: white;
}
